{{#each players}}
<div class="baseballCard">     
  <h2>{{player}}</h2>
  <h4>{{team}}</h4>
  <ul>
    <li>Throws: {{throws}}</li>
    <li>Bats: {{bats}}</li>
    <li>BA: {{BA}}</li>
    <li>OBP%: {{OBP}}</li>
    <li>HR: {{HR}}</li>
    <li>Hits: {{hits}}</li>
    <li>SO: {{SO}}</li>
  </ul>
</div> 
{{/each}}
